<li class="list-group-item">
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除", user, class: "d-flex justify-content-end", data: { "turbo-method": :delete,
                                  turbo_confirm: "削除してもよろしいですか？" } %>
  <% end %>
</li>