<li class="list-group-item">
  <div class="d-flex align-items-center">
    <div>
      <% if user.image.attached? %>
        <%= image_tag user.image %>
      <% else %>
        <i class="bi bi-person-circle" style="font-size: 2rem; color: gray;"></i>
      <% end %>
    </div>
    <div class="ps-2">
      <%= link_to user.name, user %>
    </div>
    <div class="ms-auto">
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "削除", user, data: { "turbo-method": :delete,
                                  turbo_confirm: "削除してもよろしいですか？" } %>
      <% end %>
    </div>
  </div>
</li>