<li class="list-group-item">
  <div class="d-flex align-items-center">
    <div>
      <% if user.image? %>
        <%= image_tag user.image.url %>
      <% else %>
        <i class="bi bi-person-circle" style="font-size: 2.2rem; color: gray;"></i>
      <% end %>
    </div>
    <div class="ps-3">
      <%= link_to user.name, user, class: "text-reset", style: "font-size: 20px;" %>
    </div>
    <div class="ms-auto">
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "削除", user, data: { "turbo-method": :delete,
                                  turbo_confirm: "削除してもよろしいですか？" } %>
      <% end %>
    </div>
  </div>
</li>