<h1>マイページ</h1>
<% if current_user.image.attached? %>
  <%= image_tag current_user.image.variant(resize:'200x200') %>
<% end %>
<%= current_user.name %>
<section>
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if logged_in? %>