<div class="row justify-content-center">
  <div class="col-lg-4">
    <%= render 'detail' %>
  </div>
  <div class="col-lg-4">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="list-group list-group-flush mt-5">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>