<% if object.errors.any? %>
  <div>
    <%= pluralize(object.errors.count, "項目") %>間違っています
  </div>
  <ul>
  <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>