<% @user ||= current_user %>
<div class="list-group list-group-horizontal">
  <a href="<%= following_user_path(@user) %>" class="list-group-item">
    フォロー中
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>" class="list-group-item">
    フォロワー
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>