<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>業界で絞る</h1>
      <div class="row mt-5">
        <% @categories.each do |category| %>
        <div class="col-4">
          <%= link_to category.name, category_path(category) %>
        </div>
        <% end %>
      </div>
  </div>
</div>