<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: mediumseagreen;">
    © 2022 Copyright:
    <a class="text-dark">Oshietensyoku.com</a>
  </div>
</footer>